*.d.ts
*.js
!jest.config.js
node_modules
dist/
karpenter/node_role_and_controller_role_terraform/terraform.tfstate
karpenter/node_role_and_controller_role_terraform/.terraform.lock.hcl
karpenter/node_role_and_controller_role_terraform/.terraform/providers/registry.terraform.io/hashicorp/aws/5.65.0/windows_amd64/LICENSE.txt
karpenter/node_role_and_controller_role_terraform/.terraform/providers/registry.terraform.io/hashicorp/aws/5.65.0/windows_amd64/terraform-provider-aws_v5.65.0_x5.exe
